li{
    list-style-type: none;
}
#menu {
    margin: 0px;
    height: 50px;
    background-color: #030e11;
}
.pic{
    float: left;
}
#menu li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position:relative;
    border:none;
}
#menu li a {
    font-size:20px; color: white;
    display:block;
    outline:0;
    text-decoration:none;
}
#menu li:hover a {
    color: #b2bc81;
}
#menu li:hover .dropdown_1column {
    left:0px;
    top:50px;
}
.home{
    background-color: #4a6a68;
    background-size: 4em 4em;
}
.dropdown_1column{
    margin: 0px ;
    float: left;
    position: absolute;
    left: -999em;
    text-align: left;
    border: none;
    background: white;
    width: 140px;
}
#menu li:hover div a{
    font-size:16px
;color: #030002;
}

#menu li:hover div a:hover{
    color: #4c7391;
    font-weight: bolder;
}

#menu li ul {
    list-style:none;
    padding:10px 5px;
    margin:0;
}
#menu li ul li {
    font-size:12px;
    line-height:26px;
    position:relative;
    padding:0;margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu li ul li:hover {
    padding:0;
    margin:0;
}

#hot{
    width:1405px;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 13.3%;
    height: auto;
}

div.img:hover {
    border: 1px solid #fffb99;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

li{
    list-style-type: none;
}
#foot {
    margin-top: 300px;
    margin-left: 0;
    height: 50px;
    background-color: #030e11;
    clear: both;
}
#foot li{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position:relative;
    border:none;
}
#foot li a {
    font-size:20px; color: #ffffff;
    display:block;
    outline:0;
    text-decoration:none;
}
#foot li:hover a {
    color: #b2bc81;
}
.scan {
    animation: myfirst 20s;
    -webkit-animation: myfirst 20s;
    position: relative;
}
@-webkit-keyframes myfirst
{
    0%   { left:0px; top:0px;}
    25%  { left:160px; top:0px;}
    50%  { left:330px; top:0px;}
    75%  { left:460px; top:0px;}
    100% { left:660px; top:0px;}
}


.button-s {
    background-color: #4a6a68;
    border: none;
    color: #f1f1f1;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 430px;
    cursor: pointer;
    border-radius: 40px;

position: fixed;
    bottom: -10px;
    outline: none;
    box-shadow: 0 9px #999;
}
.button-s:hover {background-color: #072031
}

.button-s:active {
    background-color: #072031;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#button-t {
    background-color: #4a6a68;

    border: none;
    color: #f1f1f1;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 530px;
    cursor: pointer;
    border-radius:40px;

    position: fixed;
    bottom: -10px;
    outline: none;
    box-shadow: 0 9px #999;
}
#button-t:hover {background-color: #072031
}

#button-t:active {
    background-color: #072031;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


